* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 35px;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 8%);
  position: relative;
  z-index: 10000;
}

.icone-mcdonalds {
  width: 100px;
  margin-right: 10px;
}

.itens-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
  width: 85%;
}

.servicos {
  display: flex;
  justify-content: space-between;
}

.servicos ul {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.itens-servico {
  list-style-type: none;
  margin-right: 20px;
}

.itens-servico a {
  text-decoration: none;
  color: #606060;
  font-size: 14px;
}
.itens-servico a:hover {
  color: #ffbc0d;
  border-bottom: 3px solid #ffbc0d;
  padding-bottom: 5px;
  transition: 0.3s;
}

.button {
  padding: 15px 30px;
  text-decoration: none;
  color: black;
  background-color: #ffbc0d;
  border-radius: 5px;
  list-style: none;
  transition: 0.3s;
}

.button:hover {
  background: #555;
  color: #fff;
}

.informacoes {
  display: flex;
  position: relative;
}

.itens-informacoes {
  list-style-type: none;
  padding-right: 22px;
}
.itens-informacoes:hover::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 4px;
  bottom: -45px;
  border-radius: 10px;
  background: #ffbc0d;
}

.itens-informacoes a::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 5px;
  bottom: -43px;
}

.itens-informacoes a:hover::before {
  content: "";
  position: absolute;
  bottom: -50px;

  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNDAiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDQwIDkiPgogICAgPGRlZnM+CiAgICAgICAgPHBhdGggaWQ9ImEiIGQ9Ik0wIDBoNDIuMDA4djguNTFIMHoiLz4KICAgIDwvZGVmcz4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTEpIj4KICAgICAgICA8bWFzayBpZD0iYiIgZmlsbD0iI2ZmZiI+CiAgICAgICAgICAgIDx1c2UgeGxpbms6aHJlZj0iI2EiLz4KICAgICAgICA8L21hc2s+CiAgICAgICAgPHBhdGggZmlsbD0iI0ZGQkMwRCIgZD0iTTAgMGgxLjQyQzUuNzkuMTc4IDguMDA0IDQuNzE5IDEyLjYyMyA0LjAwNmMxLjY2Ni0uMjU4IDMuMDU0LTEuMjMyIDQuNzk1LTEuMjQ3IDQuMTY2LS4wMzMgNi4yMTEgNC43NjkgMTAuMDk4IDUuNjAxIDEuMTY2LjI1IDIuMzkuMjE3IDMuNDY4LS4zMy45NDYtLjQ4MSAxLjY4LTEuMjc3IDIuMzE3LTIuMTA5IDEuMS0xLjQzOCAyLjA4LTIuOTk3IDMuMzk2LTQuMjU3LjcxNi0uNjg0IDEuNTgtMS4zMiAyLjU2LTEuNTI4QTcuMzI0IDcuMzI0IDAgMCAxIDQwLjQwOCAwaDEuNiIgbWFzaz0idXJsKCNiKSIvPgogICAgPC9nPgo8L3N2Zz4K)
    no-repeat 100% 100%;
}

.itens-informacoes a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  transition: 0.3s;
}

.banner {
  height: 800px;
  background: url("./img/img-home/175_10_1_banner_geral_580x250px_luisa_3ffc882b0f.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.item-banner {
  width: 100%;
  position: relative;
  top: 550px;
  padding-left: 200px;
  color: white;
}

.item-banner h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.item-banner p {
  margin-bottom: 50px;
}

.item-banner a {
  padding: 15px 30px;
  font-size: 13px;
  text-decoration: none;
  color: black;
  background-color: #ffbc0d;
  border-radius: 5px;
  transition: 0.3s;
}

.item-banner a:hover {
  background: #555;
  color: white;
}
.container-01 {
  width: 1700px;
  margin: auto;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  padding: 25px;
}

.container-flho {
  width: 800px;
  height: 560px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #a7a7a7;
  background: #fff;
}

.container-filho-img {
  max-width: 800px;
}

.container-filho-Text {
  width: 700px;
  margin: auto;
  text-align: center;
  padding: 10px;
}
.container-filho-Text h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 10px 0;
}

.container-filho-Text p {
  font-weight: 300;
  padding-bottom: 60px;
}

.container-filho-Text a {
  padding: 15px 30px;
  background: #ffbc0d;
  text-decoration: none;
  border-radius: 5px;
  color: #111;
  font-weight: 100;
  transition: 0.3s;
}

.container-filho-Text a:hover {
  background: #444;
  color: #fff;
}

/* essa imagem estava com defeito no height */
.img-com-defeito img {
  height: 350px;
}
/*Resolvido ;)*/

.container-02 {
  max-width: 1700px;
  display: flex;
  gap: 30px;
  margin: auto;
  padding: 20px;
  margin-bottom: 90px;
}

.list {
  width: 530px;
  height: 500px;
  box-shadow: 0px 0px 5px #a7a7a7;
  list-style: none;
  border-radius: 5px;
}

.list-Text {
  width: 500px;
  padding: 30px;
  text-align: center;
}

.list-Text h3 {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.list-Text p {
  margin-bottom: 60px;
}

.list-Text a {
  padding: 15px 30px;
  background: #ffbc0d;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  color: #111;
  font-weight: 100;
  transition: 0.3s;
}

.list-Text a:hover {
  background: #444;
  color: #fff;
}

/*tinha um pobleminha com a teg a dessa box*/
.list-Text-ajuste p {
  margin-bottom: 90px;
}

/*footer*/

.conteiner-footer {
  background: #ffbc0d;
  margin-bottom: 150px;
}

.conteiner-footer svg {
  position: absolute;
  width: 80%;
  height: auto;
  margin-left: 15%;
}

.conteiner-footer-01 {
  display: flex;
  gap: 20px;
  width: 1700px;
  margin: auto;
  align-items: center;
  padding: 30px 20px;
}

.conteiner-footer-img img {
  width: 130px;
}

.conteiner-footer-text {
  display: flex;
  justify-content: space-between;
  width: 1500px;
  padding: 20px;
  align-items: center;
}

.conteiner-footer-btn a {
  padding: 15px 30px;
  background: white;
  color: #111;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.conteiner-footer-btn a:hover {
  background: #444;
  color: white;
}

.conteiner-footer-list {
  width: 1700px;
  display: flex;
  margin: auto;
  gap: 200px;
  margin-bottom: 30px;
}

.conteiner-footer-list ul {
  list-style: none;
}

.conteiner-footer-list ul p {
  margin-bottom: 30px;
}

.conteiner-footer-list li {
  margin-bottom: 10px;
}

.conteiner-footer-list ul li a {
  color: #555;
  text-decoration: none;
}

.conteiner-footer-list ul li a:hover {
  color: #111;
}

.conteiner-footer-icones-01,
.box-img {
  width: 1700px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.conteiner-footer-icones-01 {
  border-bottom: 2px solid #999;
  padding-bottom: 60px;
}

.conteiner-footer-icones-01 ul {
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
}
/*                     */

.conteiner-footer-icones-02,
.conteiner-footer-icones-03,
.box-img-02,
.box-img-03 {
  display: flex;
  gap: 20px;
  align-items: center;
}

.conteiner-footer-icones-02 li,
.conteiner-footer-icones-03 li,
.box-img-02 li,
.box-img-03 li {
  list-style: none;
}

.conteiner-footer-icones-02 li img {
  width: 30px;
}

.conteiner-footer-icones-03 img {
  width: 100px;
}

.box-img-03 img {
  width: 40px;
}
