* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 8%);
  position: relative;
  z-index: 10000;
}

.icone-mcdonalds {
  width: 100px;
  margin-right: 10px;
}

.itens-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
  width: 85%;
}

.servicos {
  display: flex;
  justify-content: space-between;
}

.servicos ul {
  display: flex;
  align-items: center;
}

.itens-servico {
  list-style-type: none;
  margin-right: 20px;
}

.itens-servico a {
  text-decoration: none;
  color: #606060;
  font-size: 14px;
}

.itens-servico .button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  text-decoration: none;
  color: black;
  background-color: #ffbc0d;
  border-radius: 5px;
}

.informacoes {
  display: flex;
}

.itens-informacoes {
  list-style-type: none;
  padding-right: 22px;
}

.itens-informacoes a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.banner {
  height: 800px;
  background: url("./img/img-home/175_10_1_banner_geral_580x250px_luisa_3ffc882b0f.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.item-banner {
  width: 400px;
  position: relative;
  top: 550px;
  left: 200px;
}

.item-banner h1 {
  font-size: 40px;
}

.item-banner p {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 15px;
}

.item-banner a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  background-color: #ffbc0d;
  border-radius: 5px;
}

.container-01 {
  max-width: 1700px;
  height: auto;
  margin: auto;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  padding: 25px;
}

.container-flho {
  width: 800px;
  height: 560px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #a7a7a7;
  background: #fff;
}

.container-filho-img {
  max-width: 800px;
}

.container-filho-Text {
  width: 700px;
  margin: auto;
  text-align: center;
  padding: 10px;
}
.container-filho-Text h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 10px 0;
}

.container-filho-Text p {
  font-weight: 300;
  padding-bottom: 60px;
}

.container-filho-Text a {
  padding: 15px 30px;
  background: #ffbc0d;
  text-decoration: none;
  border-radius: 5px;
  color: #111;
  font-weight: 100;
  transition: 0.3s;
}

.container-filho-Text a:hover {
  background: #444;
  color: #fff;
}

/* essa imagem estava com defeito no height */
.img-com-defeito img {
  height: 350px;
}
/*Resolvido ;)*/

.container-02 {
  max-width: 1700px;
  display: flex;
  gap: 30px;
  margin: auto;
  padding: 20px;
}

.list {
  width: 530px;
  height: 500px;
  box-shadow: 0px 0px 5px #a7a7a7;
  list-style: none;
  border-radius: 5px;
}

.list-Text {
  width: 500px;
  padding: 30px;
  text-align: center;
}

.list-Text h3 {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.list-Text p {
  margin-bottom: 60px;
}

.list-Text a {
  padding: 15px 30px;
  background: #ffbc0d;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  color: #111;
  font-weight: 100;
  transition: 0.3s;
}

.list-Text a:hover {
  background: #444;
  color: #fff;
}

/*tinha um pobleminha com a teg a dessa box*/
.list-Text-ajuste p {
  margin-bottom: 90px;
}
